
.text-bold{
    font-weight: bold;
}

.text-regular{
    font-weight: 100;
}

.text-small{
    font-size: small;
} 

.text-smaller{
    font-size: x-small;
} 

ion-split-pane{ 
    --side-width:20%;
}

.capitalize{
    text-transform: capitalize;
}

.br-0{
    --border-radius: none;
}

.br-2{
    --border-radius: 2px;
}