.drag-n-drop{
    height: 100%;
    width: 100%;
    background: var(--ion-color-light-tint);
    /* padding: 3rem; */   
}

.drag-n-drop>p{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.alert-discharge, .alert-admit{
  --background: var(--ion-color-light); 
  font-size: small;
}

.view-patient-image ion-img{
  object-fit: contain;
}

.row-header{
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
} 

.history-attribute{
  padding-bottom: 16px;
}

.history-attribute-heading{ 
  color: var(--ion-color-primary);  
}

.history-attribute-description{
  border-left: 2px solid var(--ion-color-primary);
}